*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-color-white: #ffffff;
	--color-blue-button: #0061ff;
	--color-blue-header: #b4d0e7;
	--color-color-black: #000000;
	--color-green-square: #a2d39b;
	--color-blue-square: #0093ce;
	--color-purple-square: #61082b;
	--color-red-square: #ff1c1c;
	--color-grey-square: #f5f5f5;
	--color-dark-red-square: #d5001f;
	--color-blue-square: #0d2481;
	--color-yellow-square: #ffd830;
}