*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-color-white: #ffffff;
	--color-blue-button: #0061ff;
	--color-blue-header: #b4d0e7;
	--color-color-black: #000000;
	--color-green-square: #a2d39b;
	--color-blue-square: #0093ce;
	--color-purple-square: #61082b;
	--color-red-square: #ff1c1c;
	--color-grey-square: #f5f5f5;
	--color-dark-red-square: #d5001f;
	--color-blue-square: #0d2481;
	--color-yellow-square: #ffd830;
}
.debug{
    border: 1px solid black;
}
ul{
    list-style: none;
	height: 100%;
}
 /* navbar */
 nav{
    background-color: var(--color-color-white);
	position: fixed;
	width: 100%;
 }
 .nav-section{
	padding: 10px;
 }
 .nav-section li{
	padding: 10px;
 }
 .nav-section a{
	text-decoration: none;
	color: var(--color-color-black);
 }
 .nav-section button{
	color: var(--color-color-white);
	background-color: var(--color-blue-button);
	padding: 5px 13px;
	border: transparent;
 }

 /* flex */
 .d-flex{
    display: flex;
    flex-flow: row nowrap;
 }
.sb-flex{
    justify-content: space-between;
}
.a-center{
	align-items: center;
	align-content: center;
}