*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--color-color-white: #ffffff;
	--color-blue-button: #0061ff;
	--color-blue-header: #b4d0e7;
	--color-color-black: #000000;
	--color-green-square: #a2d39b;
	--color-blue-square: #0093ce;
	--color-purple-square: #61082b;
	--color-red-square: #ff1c1c;
	--color-grey-square: #b4d0e7;
	--color-dark-red-square: #d5001f;
	--color-blue-square: #0d2481;
	--color-yellow-square: #ffd830;
	--color-light-grey: #f5f5f5;
}
body{
	
}
.debug{
    border: 1px solid black;
}

ul{
    list-style: none;
	height: 100%;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	bottom: -70px;
}
.container-small{
	max-width: 1000px;
	margin: 0 auto;
}
.container2{
	max-width: 1200px;
	margin: 0 auto;
}
a:hover{
	color: var(--color-blue-button);
}
button{
	color: var(--color-color-white);
	background-color: var(--color-blue-button);
	padding: 7px 13px;
	border: transparent;
 }
 button:hover{
	cursor: pointer;
	background-color: var(--color-blue-square);
 }
h1{
	font-size: 6em;
	padding: 50px 0 35px;
	font-weight: 900;
}
h2{
	font-size: 3em;
	font-weight: 900;
}
h3{
	font-size: 1.5em;
	
}
h4{
	font-weight: 900;
	padding: 20px 0;
}
h5{
	font-weight: 900;
}
p{
	padding: 20px 0;
}
.horizontal-rule{
	border: 1px solid lightgray;
	width: 20%;
}
a:hover{
	text-decoration: underline;
}
 /* navbar */
 nav{
    background-color: var(--color-color-white);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100000;
 }
 nav ul{
	height: 100%;
 }
 nav li{
	position: relative;
	padding: 6px 10px;
	height: 100%;
 }
 nav li:hover{
	background-color: #f2eee8;
 }
 nav li:hover .submenu{
	display: block;
 }
 nav a{
	text-decoration: none;
	color: var(--color-color-black);
 }
 nav a:hover{
	text-decoration: underline;
	color: var(--color-color-black);
 }
 .submenu{
	display: none;
	position: absolute;
	left: 0;
	background-color: #f2eee8;
	width: 150px;
 }
 .submenu a{
	color: var(--color-color-black);
	padding: 12px 10px;
	text-decoration: none;
	display: block;
 }
.logo-nav:hover, .accedi:hover{
	background-color: var(--color-color-white);
}
 /* header */
 header{
	background-color: var(--color-blue-header);
	
}
.hero-container{
	max-width: 75%;
	min-width: 500px;

}
.hero-container img{
	width: 100%;
}
.header-container{
	max-width: 25%;
	padding-bottom: 20px;
	
}
.header-container div{
	width: 100%;
}
.header-container p{
	padding: 0;
}
.hero-button{
	padding: 40px 0;
}
a.arrow-down{
	font-size: 3em;
	padding-top: 60px;
	color: var(--color-color-black);
}

/* main */
main{
	padding-top: 70px;
}
/* section 1 */
section{
	padding: 60px 0;
}
.section-1 h3{
	padding-bottom: 10px;
	padding-top: 30px;
}
.fatturazione-radio{
	padding: 40px 0;
}
label{
	padding-right:30px;
}
input:hover, label:hover{
	cursor: pointer;
}
.business-cards, .business-operations-cards{
	width: calc(100% / 3 - 30px);
}
.user-trial{
	text-align: center;
	padding: 10px;
	border: 1px solid lightgray;
}
.trial{
	padding: 0 25px;
	border: 1px solid lightgray;
	border-top: 0;
	height: 100%;
}
.payment-type{
	font-weight: 900;
}
.montly-payment{
	color: gray;
	padding-top: 5px;
}
.payment-type.horizontal h3{
	padding-top: 0;
}
.trial-info{
	padding-top: 40px;
	min-height: 250px ;
}
.trial-info-buy{
	padding: 40px 0;
}
.trial-per-user-info{
	padding: 6px 0;
}
.icon{
	padding-right: 8px;
}
.trial button{
	width: 100%;
	padding: 10px
}
.icon .fa-check{
	color: var(--color-blue-button);
}
.business-card-horizontal{
	width: 100%;
	padding-top: 90px;
}
.horizontal-card-container{
	padding: 20px;
	border: 1px solid lightgray;
	border-top: 0;
}
.payment-type p{
	font-weight: 500;
	padding-top: 40px;
}

.business-card-horizontal h4{
	padding: 0;
}
.business-card-horizontal button{
	padding: 8px 24px;
    margin: 20px;
}

/* section 2 */
.section-2 .d-flex{
	padding: 70px 0;
}
.section-2 .img-container{
	max-width: 60%;
	min-width: 500px;
}

.img-container img{
	width: 100%;
}
.paragraph{
	max-width: 40%;
	padding: 60px
}

.section-2 button{
	color: var(--color-color-black);
	background-color: var(--color-color-white);
	box-shadow: -1px 1px black;
	border: 1px solid black;
	
}
.section-2 button:hover, .section-5 button:hover{
	filter: drop-shadow(0px 2px 4px black);
}

/* section 3 */
.business-operations{
	padding: 35px 0;
}
.section-3 .img-container{
	min-width: 200px;
}
/* section 4 */
.section-4{
	width: 60%;
	padding-bottom: 50px;
}
.section-4 h2{
	padding-bottom: 50px;
}
.partners-container{
	padding-top: 60px;
}
.partners-section{
	width: calc(100vw / 3);
	height:	calc(100vw / 3) ;
}
.partners{
	width: calc(100% / 2);
	height: calc(100% / 2);
}
.partners .img-container{
	width: 100%;
	height: 100%;
}
.partners img{
	width: 50%;
	filter: invert(1);
	
}
.partners:hover{
	border: 10px solid #d1e9cd;
	cursor: pointer;
}
.container-central{
	padding: 40px;
}
.container-central p{
	padding: 40px 0;
}
.img-container-central{
	width: 60%;
	padding-bottom: 40px;
}
.img-container-central img{
	width: 100%;
}
.partners-section.central{
	background-color: var(--color-light-grey);
}
.designit{
	background-color: var(--color-green-square);
}
.asu{
	background-color: var(--color-purple-square);
}
.florida{
	background-color: var(--color-blue-square);
}
.topps{
	background-color: var(--color-red-square);
}
.bicycle{
	background-color: var(--color-dark-red-square);
}
.hearst{
	background-color: var(--color-grey-square);
}
.lonely-planet{
	background-color: var(--color-blue-button);
}
.clear-channel{
	background-color: var(--color-yellow-square);
}
.overflow{
	overflow-y: auto;
}
/* section 5 */
.section-5{
	background-color: var(--color-grey-square);
}
.section-5 .d-flex{
	padding: 40px 0px;
}
.section-5 h2{
	width: 50%;
	color: var(--color-purple-square);
}
.section-5 button{
	color: var(--color-color-black);
	background-color: var(--color-color-white);
	width: 23%;
	padding: 10px 0;
}
/* section 6 */
.section-6{
	padding-top: 90px;
}
.summary-container{
	padding: 60px 0;
}
.summary{
	padding: 20px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.section-6 .icon{
	padding-right: 40px;
}
.summary.center{
	border: none;
}
.gray{
	color: gray;
}
.gray .horizontal-rule{
	border: 1px solid gray;
}
.summary-display{
	display: none;
	border-bottom: 1px solid black;
	padding: 0px 0 20px;
}
.summary:hover + .summary-display{
	display: block;
}
.summary:hover .fa-angle-down{
	transform: rotate(180deg);
}
.summary:hover{
	border-bottom: none;
	cursor: pointer;
}
.summary-display:nth-child(4){
	border-bottom: none;
}


/* footer */
footer{
	background-color: var(--color-color-black);
	color: var(--color-color-white);
}
.footer-container{
	padding: 40px 0;
}
footer h3{
	padding: 20px 0;
}
footer a{
	text-decoration: none;
	color: var(--color-color-white);
}
footer li{
	padding: 5px 0;
}
footer .horizontal-rule{
	width: 8%;
	color: grey;
}
 /* flex */
 .d-flex{
    display: flex;
    flex-flow: row nowrap;
 }
.sb-flex{
    justify-content: space-between;
}
.a-center{
	align-items: center;
	align-content: center;
}
.a-start{
	align-items: flex-start;
	align-content: flex-start;
}
.wrap{
	flex-wrap: wrap;
}
.start-flex{
	justify-content: flex-start;
}
.column-flex{
	flex-direction: column;
}
.stretch{
	align-items: stretch;
	align-content: stretch;
}
.js-center{
	justify-content: center;
}